<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <p id="ST6">ST6</p>
            <p id="REVIEWS">REVIEWS</p>
        </div>
        <h1>MARTIAL ARTS GYMS</h1>
        <figure></figure>

        <nav class="links">
            <a href="/">Home</a>
            <a href="/hashtags/">#Hashtags</a>
        </nav>
    </header>

    <h1 class="page-title" th:text="${gym.name}">Gracy's BJJ</h1>
    <br>
    <p id="five-star-rating" th:text="${gym.avgRating}">AVERAGE RATING: 3.0</p>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars">
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars"><span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars"><span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
    <br>
    <br>

    <section class="form">
        <form th:action="'/gyms/' + ${gym.id} + '/addReview'" method="post">
            <div>
                <h2>Leave a Review!</h2>
                <br>
            </div>
            <div>
                <input placeholder="Username" type="text" name="userName">
            </div>
            <div>
                <input id="rating-stars" class="rating" min="0" max="5" oninput="this.style.setProperty('--value', this.value)" step="0.5"
                    type="range" value="1" name="rating">
            </div>
            <div>
                <input placeholder="Hashtag" type="text" name="hashtag" id="hashtagID">
            </div>
            <div>
                <input placeholder="Title Your Review" type="text" name="title" id="titleID">
            </div>
            <div>
                <textarea placeholder="Write Your Review" name="reviewBody" rows="4" cols="50"></textarea>
            </div>
            <div>
                <input id="submit" type="submit" value="Submit" />
            </div>
        </form>
    </section>
</body>
<footer>
    <div class="footer">
        <p>copyright ST6 REVIEWS ©2022</p>
    </div>
</footer>

</html>