<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <p id="ST6">ST6</p>
            <p id="REVIEWS">REVIEWS</p>
        </div>
        <h1>MARTIAL ARTS GYMS</h1>
        <figure></figure>

        <nav class="links">
            <a href="/">Home</a>
            <a href="/hashtags/">#Hashtags</a>
        </nav>
        
    </header>
    <h2 th:text="${gym.name}">Gracy's BJJ</h2>
    <p th:text="${gym.avgRating}">5.0</p>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars">
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars"><span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
    <section class="single-review-container">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <p>BJJ_guy_247</p>

            <p class="stars"><span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star-checked">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </p>
        </figure>
        <div class="review-title">
            <h2>"Not bad, but I've seen better spaces."</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae exercitationem error magnam
                suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam quis nisi excepturi dolorum.
            </p>
        </div>

    </section>
</body>
<footer>
    <div class="footer">
        <p>copyright BDCR ©2022</p>
    </div>
</footer>

</html>