* {
    padding: 0px;
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr,2fr,1fr;
    /* grid-template-rows: 1fr; */
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: fixed;
    z-index: 9999; 
    top: 0;
}


.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.logo p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#ST6 {
    margin-bottom: 0;
}

#REVIEWS {
    margin-top: -.5em;
}

header h1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

header nav {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    text-align: right;
    margin-right: 2rem;
}

body {
    align-items: center;
    height: 100%;
    margin-top: 115px;
}

.header-category {
    justify-content: left;
}

header h1 {
    padding-left: 2rem;
}

header div {
    padding-right: 2rem;
}

h1 {
    text-align: center;
}

main {
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
/* below references hashtags.html */
.hashtag-list {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    width: 70%;
    padding: 1rem 1rem;
    /* border-radius: 20%; */
}

.Container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    justify-items: center;
    margin: 2rem auto;
    gap: 30px;
}

.single-review-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 70%;
}

#review-figure {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: x-large;
    align-items: center;
    margin-bottom: 3rem;
}

.stars {
    display: flex;

}

.profile-pic {
    width: 100px;
}

.review-title {
    font-size: x-large;
}

img {
    width: 100%;
    /* border-radius: ; */
    float: left;
    width: 100%;
    height: 100%;
}

figure {
    position: relative;
    border-radius: 15px;
}

figcaption {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    height: 2rem;
    width: 100%;
    align-items: center;
}

/* .Container {
    display: grid;
    width: 1000px;
    height: 4400px;
} */

/* .row-layout {
    display: inline-block;
} */

/* .grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    } */

    /* ask about row layout */

.grid-item {
    width: 100%;

}

.flex-item {
    width: 50%;
    margin-top: .5rem;
    border-radius: 20px;
}

.form {
    margin-left: 15%;
    margin-bottom: 7%;
}

/* .header-hashtag {
    justify-content: right;

}

.header-hashtags {
    justify-content: right;
}

.header-reviews {
    justify-content: left;
}

.header-review {
    justify-content: left;
} */

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 3rem;
}