<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <header class="header-category">
        <div class="back-arrow">
            <a href="#">&#171;</a>
        </div>
        <h1>Seal Team Six Reviews</h1>
        <p>Martial Arts Gyms</p>
        <div class="link">
            <a href="/">Home</a>
            <a href="/hashtags/">#Hashtags</a>
        </div>
    
    </header>
    <h1 th:text="${category.name}">Brazilian Jiu Jitsu</h1>
    <section class="Container">
        <figure class="grid-item" th:each="gym: ${category.gyms}">
            <a th:href="'/gyms/' + ${gym.id}">
                <img th:src="${gym.imgUrl}">
                <figcaption class="CategoryName"><h2 th:text="${gym.name}">Gracy's BJJ</h2></figcaption>
            </a>
        </figure>
    </section>
</body>
<footer>
    <div class = "footer">
        <p>copyright BDCR ©2022</p>
    </div> 
</footer>
</html>