<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martial Arts Categories</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">

</head>

<body>
<header class="header">
    <div class="logo">
        <section>
            <p id="ST6">ST6</p>
            <p id="REVIEWS">REVIEWS</p>
        </section>
    </div>
    <h1>MARTIAL ARTS GYMS</h1>
    <figure></figure>

    <nav class="links">
        <a href="/hashtags/">#Hashtags</a>
    </nav>
</header>
<div class="row-layout">
    <h1 class="page-title">Categories</h1>
    <section class="Container">
        <figure class="grid-item" th:each="category: ${categories}">
            <a th:href="'/categories/' + ${category.id}">
                <img th:src="${category.categoryImgUrl}">
                <figcaption class="CategoryName"><h2 th:text="${category.name}">BJJ</h2></figcaption>
            </a>
        </figure>
    </section>
</div>
</body>
<footer>
    <div class = "footer">
        <p>copyright ST6 REVIEWS ©2022</p>
    </div> 
</footer>

</html>