<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body class="hashtags-body">
    <header class="header-hashtags">
        <div class="back-arrow">
            <a href="#">&#171;</a>
        </div>
        <h1>Seal Team Six Reviews</h1>
        <p>Martial Arts Gyms</p>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <h1>#Hashtags</h1>
    <main>
        <div class="whatever-we-wants" th:each="hashtag: ${hashtags}" >
            <a class="flex-item"  th:href="'/hashtags/' + ${hashtag.id}" th:text="${hashtag.name}">#American</a>
        </div>
    </main>

</body>
<footer>
    <div class = "footer">
        <p>copyright BDCR ©2022</p>
    </div> 
</footer>

</html>