<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <header class="header-reviews">
        <div class="back-arrow">
            <a href="#">&#171;</a>
        </div>
        <h1>Seal Team Six Reviews</h1>
        <p>Martial Arts Gyms</p>

        <nav>
            <a href="/">Home</a>
            <a href="/hashtags/">#Hashtags</a>
        </nav>
    </header>
    <h1 th:text="${gym.name}">Gracy's BJJ</h1>
    <p th:text="${gym.avgRating}"></p>
    <section class="single-review-container" th:each="review: ${gym.reviews}">
        <figure id="review-figure">
            <div class="profile-pic"><img src="/images/profile-pic.jpeg"></div>
            <div class="user-and-rating">
                <p th:text="${review.username}">BJJ_guy_247</p>
                <p th:text="${review.rating}"></p>
            </div>
        </figure>
        <div class="review-title">
            <h2 th:text="${review.title}">"Not bad, but I've seen better spaces."</h2>
            <p th:text="${review.reviewBody}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est vel beatae
                exercitationem error magnam suscipit amet in totam itaque ipsum quam tenetur, minima sint dolore nam
                quis nisi excepturi dolorum.</p>
        </div>
    </section>
    <form class="form" th:action="'/gyms/' + ${gym.id} + '/addReview'" method="post">
        <div>
        <input placeholder="Username" type="text" name="userName">
        </div>
        <div>
        <input class="rating" min="0" max="5" oninput="this.style.setProperty('--value', this.value)" step="0.5" type="range"
            value="1" name="rating">
        </div>
        <div>
        <input placeholder="Hashtag" type="text" name="hashtag" id="hashtagID">
        </div>
        <div>
            <input placeholder="Title Your Review" type="text" name="title" id="titleID">
        </div>
        <div>
            <textarea placeholder="Write Your Review" name="reviewBody" rows="4" cols="50"></textarea>
        </div>
        <div>
        <input type="submit" value="Submit"/>
        </div>
    </form>
</body>
<footer>
    <div class="footer">
        <p>copyright BDCR ©2022</p>
    </div>
</footer>

</html>